<div class="container">
  <h1>Welcome to Flickr Jr!</h1>
  <%if session[:user_id].nil?%>
    <p><a href="/login">Login Exising User</a></p>
    <p><a href="/users/new">Create an Account</a></p>
  <%else%>
    <p><a href="/photo/new">Upload an Image</a></p>
    <p><a href="/logout">Logout</a></p>
  <%end%>
  <br>
  <h2>User Profiles</h2>
  <%@users.each do |user|%>
    <a href="/users/<%=user.id%>/albums"><%=user.name%>'s Albums</a><br>
  <%end%>
</div>
