<div class="container">
  <h2>Login to Your Account!</h2>
  <br>
  <form action="/login" method="POST">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>

</div>
