<div class="container">
  <h2>Upload an Image</h2>
  <br>
  <form action="/photo/new" enctype="multipart/form-data" method="POST">
    Image File Path: <input type="file" name="image_file_path"><br>
    Album: <input type="text" name="album_name"><br>
    <input type="submit" value="Upload">
  </form>

</div>
